.timeline {
  &__avatar {
    border-radius: 100px;
    width: 100%;
  }

  &__empty {
    display: flex;
    align-items: center;
  }

  &__commits {
    padding: 10px;

    &__sha {
      padding: 10px 0px;
    }
  }
}

.vertical-timeline {
  margin-top: 0px !important;
}
